---
import BaseLayout from "../components/layouts/BaseLayout.astro";
---

<BaseLayout title="Mentions légales – GRADD">
  <main>
    <h1>Mentions légales</h1>
    <p>
      Groupe de Recherche Appliqué au Développement Durable (GRADD).
    </p>
  </main>
</BaseLayout>

